*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
    outline: none;
}

#root .Login{
    /* border: 1px solid green; */
    margin: 300px 0 300px 0;
    width: 1060px;
    /* height: 1000px; */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 80px; */
}

#root .Login button{
    cursor: pointer;
}

/* #root .Login h1{
    margin-bottom: 30px;
} */
#root .Login h3{
    font-weight: normal;
}

/* 로그인, 주문자명 ... 공통 */
#root .Login .login_form,
#root .Login .nonmember_form{
    display: flex;
    align-items: center;
    gap: 7px;
}
/* input */
#root .Login .formInput input,
#root .Login .nonmember_formInput input{
    padding: 10px;
    display: block;
    margin: 7px 0;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* button */
#root .Login .login_form button{
    border: 1px solid #ee4143;
    background-color: #ee4143;
    color: #fff;
}
#root .Login .login_form button:hover{
    background-color: #df2d30;
}
#root .Login .nonmember_form button{
    border: 1px solid #ccc;
}
#root .Login .nonmember_form button:hover{
    background-color: #f2f2f3;
}
#root .Login .login_form button,
#root .Login .nonmember_form button{
    width: 120px;
    height: 89px;
    /* padding: 0 40px; */
    font-size: 16px;
    border-radius: 5px;
}

/* 회원 로그인 */
/* 아이디 저장 */
#root .Login .member_login .remember_id{
    color: #666;
    font-size: 14px;
}
#root .Login .member_login .remember_id input[type="checkbox"],
#root .Login .member_login .remember_id label{
    /* border: none; */
    /* background-color: #ee4143; */
    cursor: pointer;
}

/* 회원가입 아이디찾기 비밀번호 찾기 / 카카오톡으로 로그인 */
/* 카카오톡 */
#root .Login .login_actions > button:hover{
    background-color: #ffdd57
}
#root .Login .login_actions > button{
    border: none;
    background-color: #fdd532;
    width: 427px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    border-radius: 5px;
}
#root .Login .login_actions > button img{
    width: 40px;
    padding: 10px 0;
}
/* 나머지 */
#root .Login .login_actions .loginOptions{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
#root .Login .login_actions .loginOptions button{
    width: 138px;
    padding: 7px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#root .Login .login_actions .loginOptions button:hover{
    background-color: #f2f2f3
}

/* 비회원 주문조회 */
#root .Login .nonmember_order{

}
#root .Login .nonmember_order p{
    font-size: 13.3px;
    color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#root .Login .nonmember_order p img{
    margin-right: 5px;
}

#root .Login .member_login,
#root .Login .nonmember_order,
#root .Login .login_actions{
    padding: 40px 0;
}
#root .Login .login_actions{
    position: relative;
}
/* #root .Login .member_login::before, */
#root .Login .login_actions::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 427px;
    height: 1px;
    background-color: #ccc;
}